<div id="divID">
    <div style="background-color:transparent;">
        <form id="ff" method="post">
            <ul class="reg-box">
                <li>
                    <label for="">密码: </label>
                    <input type="password" name="accPassword" value="" class="account" maxlength="11" style="color:#999;" onBlur="textBlur(this)" onFocus="textFocus(this)"/>
                <span class="error error5"></span>
                </li>
                <hr />
                <li>
                    <label for="">确认密码: </label>
                    <input type="password" name="accPasswordc" class="admin_email" value="" style="color:#999;" onBlur="textBlur(this)" onFocus="textFocus(this)"/>
                <span class="error error6"></span>
                </li>
            </ul>
            <div class="sub">
                <input type="submit" value="改变密码" style="text-align:center;"/>
            </div>
        </form>
    </div>
</div>