<div id="divID">
    <div style="background-color:transparent;">
        <form id="ff" method="post">
            <ul class="reg-box">
                <li>
                    <label for="">要重置密码的用户名: </label>
                    <input type="text" name="accName" value="" class="account" maxlength="11" style="color:#999;" onBlur="textBlur(this)" onFocus="textFocus(this)"/>
                <span class="error error5"></span>
                </li>
                <hr />
                <li>
                    <label for="">找回邮箱: </label>
                    <input type="text" name="accEmail" class="admin_email" value="" style="color:#999;" onBlur="textBlur(this)" onFocus="textFocus(this)"/>
                <span class="error error6"></span>
                </li>
            </ul>
            <div class="sub">
                <input type="submit" value="找 回" style="text-align:center;"/>
            </div>
        </form>
    </div>
</div>